<section class="content">
  <article class="banner">
    <div>
      <h2>The game changing web-store!<br>Go ahead for more.</h2>
      <div class="banner-wrapper">
        <img src="assets/images/line.PNG" alt="line">
      </div>
    </div>
    <div class="button-banner-start">
      <button class="btn-start" routerLink="/auth/signin">Sign in</button>
      <div class="splitter"></div>
      <button class="btn-start" routerLink="/auth/signup">Register</button>
    </div>
  </article>
</section>
<section class="description-banner">
  <h3>What is all about?</h3>
  <hr>
  <p>We are an innovative website for selling computer games. The purpose of this website is to connect all video game
    enthusiasts who would like to sell their old or new computer game and / or buy one from another gamer. In this way,
    the high costs of computer games are reduced, leaving more money for other needs.
    If you want to join our campaign and become part of our society, then you could do so by registering. You will
    instantly be able to see all available and active ads for computer games. You will be able to create your own ads,
    edit your ads that you want to edit and many more.</p>
  <p>How exactly does this website work? - It's easy, choose a game, click on the author's email link and write a
    letter. This way you can easily and quickly contact the seller and arrange the delivery.</p>
  <p>This website does not bring its creators any revenue or commissions from sales of computer games.</p>
  <p>Anyone who wants can support our cause and make a donation.</p>
  <hr>
</section>
