.all-users-wrapper {
  width: 70%;
  margin: 30px auto 60px;
  background: white;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.27);
  border-radius: 8px;
}

.text-transform {
  text-transform: none;
}

.topic-text-all-users {
  text-align: center;
}

.row {
  margin-left: 0;
  margin-right: 0;
}


/*Input*/
.form-control {
  border-radius: 8px;
  color: black;
}

/*TABLE*/
.table {
  color: black;
}

.head {
  background-color: #2A2A2A;
  color: white;
  font-weight: bold;
}

.table > tbody > tr:hover {
  background: linear-gradient(90deg, rgba(131, 58, 180, 0.40689779329700626) 0%, rgba(253, 29, 29, 0.4181022750897234) 50%, rgba(252, 176, 69, 0.4489146000196954) 100%);
}

thead > tr > th {
  border: 1px solid grey;
}

tbody > tr:nth-child(even) {
  background-color: whitesmoke;
}

.buttons-th {
  display: flex;
  justify-content: space-around;
  color: black;
}

.del-btn-user {
  width: 40px;
}

.del-btn-user i {
  font-size: 16px;
  cursor: pointer;
}

.update {
  color: limegreen;
}

.delete {
  color: indianred;
}

.fa-sort {
  font-size: 16px;
  margin-right: 5px;
  cursor: pointer;
}

/*FORM*/
.form-edit-user {
  display: flex;
  flex-direction: column;
  margin: 4%;
}

.form-edit-user label {
  margin-top: 18px;
  margin-left: 15px;
}

.input-form-edit-user {
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  width: 350px;
  margin-left: 15px;
}

.input-form-edit-user:focus {
  outline: none;
}

.btn-save {
  margin-top: 25px;
  margin-left: 15px;
  border: none;
  width: fit-content;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(218deg, rgba(241, 88, 45, 1) 2%, rgba(237, 51, 90, 1) 50%, rgba(232, 12, 136, 1) 100%);
  color: white;
  font-size: 17px;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 10px 20px;
}

.id-user-th {
  cursor: pointer;
}
