.carousel {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 47%;
  background: black;
}

.form-check{
  position: relative;
  left: 45%;
  cursor: pointer;
}

.btn-sm{
  position: relative;
  left:45%
}

.picsum-img-wrapper{
  height: 690px;
}

.picsum-img-wrapper img {
  object-fit: cover;
  width: 100%;
}

.carousel-caption h3 {
  color: #ED315C;
  font-weight: bold;
}

.carousel-caption{
  background: black;
}


