<nav class="nav">
  <section>
    <h1 class="logo">-GAME-X-STORE-</h1>
  </section>
  <section class="nav-section">
    <ul class="nav-ul" *ngIf="authService.isAuthenticated()">
      <li><a routerLink="/home">Home page</a></li>
      <li><a routerLink="/game/all">All games</a></li>
      <li><a routerLink="/game/user">My games</a></li>
      <li><a routerLink="/game/create">Create a game</a></li>
      <li *ngIf="authService.isAdmin()"><a routerLink="/game/all-users">All users</a></li>
      <li><a href="" (click)="logout()">Logout</a></li>
    </ul>
    <div class="nav-section-div" *ngIf="authService.isAuthenticated()">
      <p>Welcome, {{username ? getName() : username}}</p>
    </div>
  </section>
</nav>
